## Cleaning the MVPs dataset

In [1]:
import pandas as pd

In [2]:
mvps = pd.read_csv('mvps.csv')

mvps

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,2,3,David Robinson,25,SAS,6,476,960,0.496,82,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,4,5,Karl Malone,27,UTA,0,142,960,0.148,82,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,4,5,Jalen Brunson,27,NYK,0,142,990,0.143,77,...,3.6,6.7,0.9,0.2,0.479,0.401,0.847,11.2,0.198,2024
504,5,6,Jayson Tatum,25,BOS,0,86,990,0.087,74,...,8.1,4.9,1.0,0.6,0.471,0.376,0.833,10.4,0.189,2024
505,6,7,Anthony Edwards,22,MIN,0,18,990,0.018,79,...,5.4,5.1,1.3,0.5,0.461,0.357,0.836,7.5,0.130,2024
506,7,8,Domantas Sabonis,27,SAC,0,3,990,0.003,82,...,13.7,8.2,0.9,0.6,0.594,0.379,0.704,12.6,0.206,2024
507,8,9,Kevin Durant,35,PHO,0,1,990,0.001,75,...,6.6,5.0,0.9,1.2,0.523,0.413,0.856,8.3,0.142,2024

In [3]:
mvps = mvps[["Player", "Year", "Pts Won", "Pts Max", "Share"]]

mvps.head()

            Player  Year  Pts Won  Pts Max  Share
0   Michael Jordan  1991      891      960  0.928
1    Magic Johnson  1991      497      960  0.518
2   David Robinson  1991      476      960  0.496
3  Charles Barkley  1991      222      960  0.231
4      Karl Malone  1991      142      960  0.148

## Cleaning the Players dataset

In [4]:
players = pd.read_csv('players.csv')

players

,Unnamed: 0,Rk,Player,Age,Team,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,0,1.0,Michael Jordan,27.0,CHI,SG,82.0,82.0,37.0,12.1,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1,DEF1",1991
1,1,2.0,Karl Malone,27.0,UTA,PF,82.0,82.0,40.3,10.3,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,2,3.0,Bernard King,34.0,WSB,SF,64.0,64.0,37.5,11.1,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,3,4.0,Charles Barkley,27.0,PHI,SF,67.0,67.0,37.3,9.9,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,4,5.0,Patrick Ewing,28.0,NYK,C,81.0,81.0,38.3,10.4,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19641,731,569.0,Ron Harper Jr.,23.0,TOR,PF,1.0,0.0,4.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,NaN,2024
19642,732,570.0,Justin Jackson,28.0,MIN,SF,2.0,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
19643,733,571.0,Dmytro Skapintsev,25.0,NYK,C,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
19644,734,572.0,Javonte Smart,24.0,PHI,PG,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
19645,735,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [5]:
del players["Unnamed: 0"]
del players["Rk"]
del players["Awards"]

players

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Michael Jordan,27.0,CHI,SG,82.0,82.0,37.0,12.1,22.4,0.539,...,1.4,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,1991
1,Karl Malone,27.0,UTA,PF,82.0,82.0,40.3,10.3,19.6,0.527,...,2.9,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,1991
2,Bernard King,34.0,WSB,SF,64.0,64.0,37.5,11.1,23.6,0.472,...,1.8,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,1991
3,Charles Barkley,27.0,PHI,SF,67.0,67.0,37.3,9.9,17.4,0.570,...,3.9,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,1991
4,Patrick Ewing,28.0,NYK,C,81.0,81.0,38.3,10.4,20.3,0.514,...,2.4,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19641,Ron Harper Jr.,23.0,TOR,PF,1.0,0.0,4.0,0.0,0.0,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2024
19642,Justin Jackson,28.0,MIN,SF,2.0,0.0,0.5,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
19643,Dmytro Skapintsev,25.0,NYK,C,2.0,0.0,1.0,0.0,0.5,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
19644,Javonte Smart,24.0,PHI,PG,1.0,0.0,1.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
19645,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024