## Cleaning the MVPs dataset

In [1]:
import pandas as pd

In [2]:
mvps = pd.read_csv('mvps.csv')

mvps

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,2,3,David Robinson,25,SAS,6,476,960,0.496,82,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,4,5,Karl Malone,27,UTA,0,142,960,0.148,82,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,4,5,Jalen Brunson,27,NYK,0,142,990,0.143,77,...,3.6,6.7,0.9,0.2,0.479,0.401,0.847,11.2,0.198,2024
504,5,6,Jayson Tatum,25,BOS,0,86,990,0.087,74,...,8.1,4.9,1.0,0.6,0.471,0.376,0.833,10.4,0.189,2024
505,6,7,Anthony Edwards,22,MIN,0,18,990,0.018,79,...,5.4,5.1,1.3,0.5,0.461,0.357,0.836,7.5,0.130,2024
506,7,8,Domantas Sabonis,27,SAC,0,3,990,0.003,82,...,13.7,8.2,0.9,0.6,0.594,0.379,0.704,12.6,0.206,2024
507,8,9,Kevin Durant,35,PHO,0,1,990,0.001,75,...,6.6,5.0,0.9,1.2,0.523,0.413,0.856,8.3,0.142,2024

In [3]:
mvps = mvps[["Player", "Year", "Pts Won", "Pts Max", "Share"]]

mvps.head()

            Player  Year  Pts Won  Pts Max  Share
0   Michael Jordan  1991      891      960  0.928
1    Magic Johnson  1991      497      960  0.518
2   David Robinson  1991      476      960  0.496
3  Charles Barkley  1991      222      960  0.231
4      Karl Malone  1991      142      960  0.148

## Cleaning the Players dataset

In [4]:
players = pd.read_csv('players.csv')

players

,Unnamed: 0,Rk,Player,Age,Team,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,0,1.0,Michael Jordan,27.0,CHI,SG,82.0,82.0,37.0,12.1,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1,DEF1",1991
1,1,2.0,Karl Malone,27.0,UTA,PF,82.0,82.0,40.3,10.3,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,2,3.0,Bernard King,34.0,WSB,SF,64.0,64.0,37.5,11.1,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,3,4.0,Charles Barkley,27.0,PHI,SF,67.0,67.0,37.3,9.9,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,4,5.0,Patrick Ewing,28.0,NYK,C,81.0,81.0,38.3,10.4,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19641,731,569.0,Ron Harper Jr.,23.0,TOR,PF,1.0,0.0,4.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,NaN,2024
19642,732,570.0,Justin Jackson,28.0,MIN,SF,2.0,0.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
19643,733,571.0,Dmytro Skapintsev,25.0,NYK,C,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
19644,734,572.0,Javonte Smart,24.0,PHI,PG,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
19645,735,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [5]:
del players["Unnamed: 0"]
del players["Rk"]
del players["Awards"]

players

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Michael Jordan,27.0,CHI,SG,82.0,82.0,37.0,12.1,22.4,0.539,...,1.4,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,1991
1,Karl Malone,27.0,UTA,PF,82.0,82.0,40.3,10.3,19.6,0.527,...,2.9,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,1991
2,Bernard King,34.0,WSB,SF,64.0,64.0,37.5,11.1,23.6,0.472,...,1.8,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,1991
3,Charles Barkley,27.0,PHI,SF,67.0,67.0,37.3,9.9,17.4,0.570,...,3.9,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,1991
4,Patrick Ewing,28.0,NYK,C,81.0,81.0,38.3,10.4,20.3,0.514,...,2.4,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19641,Ron Harper Jr.,23.0,TOR,PF,1.0,0.0,4.0,0.0,0.0,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2024
19642,Justin Jackson,28.0,MIN,SF,2.0,0.0,0.5,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
19643,Dmytro Skapintsev,25.0,NYK,C,2.0,0.0,1.0,0.0,0.5,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
19644,Javonte Smart,24.0,PHI,PG,1.0,0.0,1.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
19645,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [6]:
players["Player"] = players["Player"].str.replace("*", "", regex=False)
players = players[~players["Player"].str.contains("League")]

players

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Michael Jordan,27.0,CHI,SG,82.0,82.0,37.0,12.1,22.4,0.539,...,1.4,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,1991
1,Karl Malone,27.0,UTA,PF,82.0,82.0,40.3,10.3,19.6,0.527,...,2.9,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,1991
2,Bernard King,34.0,WSB,SF,64.0,64.0,37.5,11.1,23.6,0.472,...,1.8,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,1991
3,Charles Barkley,27.0,PHI,SF,67.0,67.0,37.3,9.9,17.4,0.570,...,3.9,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,1991
4,Patrick Ewing,28.0,NYK,C,81.0,81.0,38.3,10.4,20.3,0.514,...,2.4,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19640,Danny Green,36.0,PHI,SG,2.0,0.0,9.0,0.0,1.0,0.000,...,0.0,1.0,1.0,0.5,0.5,0.0,0.0,0.5,0.0,2024
19641,Ron Harper Jr.,23.0,TOR,PF,1.0,0.0,4.0,0.0,0.0,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2024
19642,Justin Jackson,28.0,MIN,SF,2.0,0.0,0.5,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
19643,Dmytro Skapintsev,25.0,NYK,C,2.0,0.0,1.0,0.0,0.5,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
19644,Javonte Smart,24.0,PHI,PG,1.0,0.0,1.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024

In [7]:
num_teams = list(range(2,6))

def single_row(df):
    if df.shape[0]==1:
        return df
    else:
        for num_team in num_teams:
            row = df[df["Team"] == "{}TM".format(num_team)]
            df["Team"] = df.iloc[-1,:]["Team"]
        return row
    
players = players.groupby(["Player", "Year"]).apply(single_row)

/var/folders/68/_7k5q9kn4m18rcshhmjmz3ph0000gn/T/ipykernel_5768/1217989876.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  players = players.groupby(["Player", "Year"]).apply(single_row)

In [10]:
players.head()

                          Player   Age Team Pos     G    GS    MP   FG   FGA  \
Player     Year
A.C. Green 1991 178   A.C. Green  27.0  LAL  PF  82.0  21.0  26.4  3.1   6.6
           1992 535   A.C. Green  28.0  LAL  PF  82.0  53.0  35.4  4.7   9.8
           1993 1006  A.C. Green  29.0  LAL  PF  82.0  55.0  34.4  4.6   8.6
           1994 1424  A.C. Green  30.0  PHO  PF  82.0  55.0  34.5  5.7  11.3
           1995 1964  A.C. Green  31.0  PHO  SF  82.0  52.0  32.8  3.8   7.5

                        FG%  ...  ORB  DRB  TRB  AST  STL  BLK  TOV   PF  \
Player     Year              ...
A.C. Green 1991 178   0.476  ...  2.5  3.8  6.3  0.9  0.7  0.3  1.2  1.4
           1992 535   0.476  ...  3.7  5.6  9.3  1.4  1.1  0.4  1.4  1.7
           1993 1006  0.537  ...  3.5  5.2  8.7  1.4  1.1  0.5  1.4  1.8
           1994 1424  0.502  ...  3.4  5.8  9.2  1.7  0.9  0.5  1.2  1.7
           1995 1964  0.504  ...  2.4  5.8  8.2  1.5  0.7  0.4  1.4  1.8

                       PTS  Year
Player     Year
A.C. Green 1991 178    9.1  1991
           1992 535   13.6  1992
           1993 1006  12.8  1993
           1994 1424  14.7  1994
           1995 1964  11.2  1995

[5 rows x 30 columns]

In [11]:
players.index = players.index.droplevel()

In [13]:
players.index = players.index.droplevel()

In [14]:
combined = players.merge(mvps, how="outer", on=["Player", "Year"])

combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,27.0,LAL,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,NaN,NaN,NaN
1,A.C. Green,28.0,LAL,PF,82.0,53.0,35.4,4.7,9.8,0.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,NaN,NaN,NaN
2,A.C. Green,29.0,LAL,PF,82.0,55.0,34.4,4.6,8.6,0.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,NaN,NaN,NaN
3,A.C. Green,30.0,PHO,PF,82.0,55.0,34.5,5.7,11.3,0.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,NaN,NaN,NaN
4,A.C. Green,31.0,PHO,SF,82.0,52.0,32.8,3.8,7.5,0.504,...,1.5,0.7,0.4,1.4,1.8,11.2,1995,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13980,Zydrunas Ilgauskas,35.0,MIA,C,72.0,51.0,15.9,2.3,4.4,0.508,...,0.4,0.3,0.8,0.7,2.6,5.0,2011,NaN,NaN,NaN
13981,Zylan Cheatham,24.0,NOP,PF,4.0,0.0,12.8,1.5,2.3,0.667,...,0.8,0.3,0.3,1.0,2.5,3.0,2020,NaN,NaN,NaN
13982,Zylan Cheatham,26.0,UTA,SF,1.0,0.0,5.0,0.0,3.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,2022,NaN,NaN,NaN
13983,Ãscar Torres,25.0,HOU,SG,65.0,13.0,16.5,2.1,5.2,0.396,...,0.6,0.4,0.1,0.8,1.0,6.0,2002,NaN,NaN,NaN
13984,Ãscar Torres,26.0,GSW,SG,17.0,0.0,6.4,0.9,2.1,0.444,...,0.2,0.2,0.1,0.5,0.5,3.1,2003,NaN,NaN,NaN

In [15]:
combined[["Pts Won", "Pts Max", "Share"]] = combined[["Pts Won", "Pts Max", "Share"]].fillna(0)

combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,27.0,LAL,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0
1,A.C. Green,28.0,LAL,PF,82.0,53.0,35.4,4.7,9.8,0.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0
2,A.C. Green,29.0,LAL,PF,82.0,55.0,34.4,4.6,8.6,0.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0
3,A.C. Green,30.0,PHO,PF,82.0,55.0,34.5,5.7,11.3,0.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0
4,A.C. Green,31.0,PHO,SF,82.0,52.0,32.8,3.8,7.5,0.504,...,1.5,0.7,0.4,1.4,1.8,11.2,1995,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13980,Zydrunas Ilgauskas,35.0,MIA,C,72.0,51.0,15.9,2.3,4.4,0.508,...,0.4,0.3,0.8,0.7,2.6,5.0,2011,0.0,0.0,0.0
13981,Zylan Cheatham,24.0,NOP,PF,4.0,0.0,12.8,1.5,2.3,0.667,...,0.8,0.3,0.3,1.0,2.5,3.0,2020,0.0,0.0,0.0
13982,Zylan Cheatham,26.0,UTA,SF,1.0,0.0,5.0,0.0,3.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,2022,0.0,0.0,0.0
13983,Ãscar Torres,25.0,HOU,SG,65.0,13.0,16.5,2.1,5.2,0.396,...,0.6,0.4,0.1,0.8,1.0,6.0,2002,0.0,0.0,0.0
13984,Ãscar Torres,26.0,GSW,SG,17.0,0.0,6.4,0.9,2.1,0.444,...,0.2,0.2,0.1,0.5,0.5,3.1,2003,0.0,0.0,0.0

In [16]:
teams = pd.read_csv("teams.csv")

teams.head()

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks*
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets

In [17]:
teams["Team"] = teams["Team"].str.replace("*", "", regex=False)

teams

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
...,...,...,...,...,...,...,...,...,...,...
1133,13,50,32,.610,—,117.9,115.6,2.30,2024,Dallas Mavericks
1134,14,49,33,.598,1.0,115.1,110.7,4.46,2024,New Orleans Pelicans
1135,15,41,41,.500,9.0,114.3,113.2,1.24,2024,Houston Rockets
1136,16,27,55,.329,23.0,105.8,112.8,-6.57,2024,Memphis Grizzlies
1137,17,22,60,.268,28.0,112.1,118.6,-5.80,2024,San Antonio Spurs

In [18]:
nicknames = {}

with open("nicknames.csv") as f:
    lines = f.readlines()
    for line in lines[1:]:
        abbrev, name = line.replace("\n", "").split(",")
        nicknames[abbrev] = name

In [19]:
combined["Team"] = combined["Team"].map(nicknames)

combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,A.C. Green,27.0,Los Angeles Lakers,PF,82.0,21.0,26.4,3.1,6.6,0.476,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0
1,A.C. Green,28.0,Los Angeles Lakers,PF,82.0,53.0,35.4,4.7,9.8,0.476,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0
2,A.C. Green,29.0,Los Angeles Lakers,PF,82.0,55.0,34.4,4.6,8.6,0.537,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0
3,A.C. Green,30.0,Phoenix Suns,PF,82.0,55.0,34.5,5.7,11.3,0.502,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0
4,A.C. Green,31.0,Phoenix Suns,SF,82.0,52.0,32.8,3.8,7.5,0.504,...,1.5,0.7,0.4,1.4,1.8,11.2,1995,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13980,Zydrunas Ilgauskas,35.0,Miami Heat,C,72.0,51.0,15.9,2.3,4.4,0.508,...,0.4,0.3,0.8,0.7,2.6,5.0,2011,0.0,0.0,0.0
13981,Zylan Cheatham,24.0,New Orleans Pelicans,PF,4.0,0.0,12.8,1.5,2.3,0.667,...,0.8,0.3,0.3,1.0,2.5,3.0,2020,0.0,0.0,0.0
13982,Zylan Cheatham,26.0,Utah Jazz,SF,1.0,0.0,5.0,0.0,3.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,2022,0.0,0.0,0.0
13983,Ãscar Torres,25.0,Houston Rockets,SG,65.0,13.0,16.5,2.1,5.2,0.396,...,0.6,0.4,0.1,0.8,1.0,6.0,2002,0.0,0.0,0.0
13984,Ãscar Torres,26.0,Golden State Warriors,SG,17.0,0.0,6.4,0.9,2.1,0.444,...,0.2,0.2,0.1,0.5,0.5,3.1,2003,0.0,0.0,0.0

In [21]:
stats = combined.merge(teams, how="outer", on=["Team", "Year"])

In [26]:
stats.tail(20)

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
14141,Eugene Omoruyi,26.0,Washington Wizards,SF,43.0,0.0,9.1,1.9,3.9,0.485,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14142,Hamidou Diallo,25.0,Washington Wizards,SG,2.0,0.0,2.5,0.5,1.0,0.500,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14143,Jared Butler,23.0,Washington Wizards,SG,40.0,0.0,14.2,2.5,5.0,0.488,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14144,Johnny Davis,21.0,Washington Wizards,SG,50.0,6.0,12.3,1.2,3.1,0.403,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14145,Jordan Poole,24.0,Washington Wizards,SG,78.0,66.0,30.1,6.3,15.2,0.413,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14146,Jules Bernard,24.0,Washington Wizards,SG,19.0,0.0,7.8,1.5,3.4,0.453,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14147,Justin Champagnie,22.0,Washington Wizards,SF,15.0,1.0,15.7,2.1,5.2,0.410,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14148,Kyle Kuzma,28.0,Washington Wizards,PF,70.0,70.0,32.6,8.7,18.8,0.463,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14149,Landry Shamet,26.0,Washington Wizards,SG,46.0,5.0,15.8,2.6,6.0,0.431,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14150,Patrick Baldwin Jr.,21.0,Washington Wizards,SF,38.0,7.0,13.0,1.6,4.1,0.381,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14151,Tristan Vukcevic,20.0,Washington Wizards,C,10.0,4.0,15.3,2.9,6.7,0.433,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14152,Tyus Jones,27.0,Washington Wizards,PG,66.0,66.0,29.3,4.9,10.1,0.489,...,0.0,0.000,16.0,15,67,.183,32.0,113.7,123.0,-9.29
14153,Dominique Wilkins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1010.0,0.001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14154,Clyde Drexler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1050.0,0.003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14155,Vince Carter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1270.0,0.002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14156,Chauncey Billups,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1210.0,0.027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14157,Stephen Jackson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1230.0,0.001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14158,Goran DragiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1250.0,0.002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14159,Derrick Rose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1010.0,0.010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14160,James Harden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1010.0,0.001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# del stats["Unnamed: 0"]
# del stats["GB"]

# rows_delete = list(range(14153,14160))
# stats.drop(rows_delete, inplace=True)

In [29]:
stats.to_csv("player_mvp_stats.csv")

In [30]:
highest_scoring = stats[stats["G"] > 70].sort_values("PTS", ascending=False).head(10)

highest_scoring

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Year,Pts Won,Pts Max,Share,W,L,W/L%,PS/G,PA/G,SRS
4853,James Harden,29.0,Houston Rockets,PG,78.0,78.0,36.8,10.8,24.5,0.442,...,2019,776.0,1010.0,0.768,53,29,.646,113.9,109.1,4.96
6126,Kobe Bryant,27.0,Los Angeles Lakers,SG,80.0,80.0,41.0,12.2,27.2,0.450,...,2006,483.0,1250.0,0.386,45,37,.549,99.4,96.9,2.53
10216,Allen Iverson,30.0,Philadelphia 76ers,PG,72.0,72.0,43.1,11.3,25.3,0.447,...,2006,1.0,1250.0,0.001,38,44,.463,99.4,101.3,-2.10
1657,Michael Jordan,29.0,Chicago Bulls,SG,78.0,78.0,39.3,12.7,25.7,0.495,...,1993,565.0,980.0,0.577,57,25,.695,105.2,98.9,6.19
9684,Tracy McGrady,23.0,Orlando Magic,SG,75.0,74.0,39.4,11.1,24.2,0.457,...,2003,427.0,1190.0,0.359,42,40,.512,98.5,98.4,-0.39
9336,Kevin Durant,25.0,Oklahoma City Thunder,SF,81.0,81.0,38.5,10.5,20.8,0.503,...,2014,1232.0,1250.0,0.986,59,23,.720,106.2,99.8,6.66
9381,Russell Westbrook,28.0,Oklahoma City Thunder,PG,81.0,81.0,34.6,10.2,24.0,0.425,...,2017,888.0,1010.0,0.879,47,35,.573,106.6,105.8,1.14
6140,Kobe Bryant,28.0,Los Angeles Lakers,SG,77.0,77.0,40.8,10.6,22.8,0.463,...,2007,521.0,1290.0,0.404,42,40,.512,103.3,103.4,0.24
1634,Michael Jordan,27.0,Chicago Bulls,SG,82.0,82.0,37.0,12.1,22.4,0.539,...,1991,891.0,960.0,0.928,61,21,.744,110.0,101.0,8.57
2310,LeBron James,21.0,Cleveland Cavaliers,SF,79.0,79.0,42.5,11.1,23.1,0.480,...,2006,688.0,1250.0,0.550,50,32,.610,97.6,95.4,2.17